.pianoContainer {
  background-color: brown;
  border: 5px solid black;
  display: flex;
  height: 125px;
}

.whiteKey {
  flex: 22 1 0;
  height: 100%;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  border-right: 0px;
}

.ab {
  margin-left: -0.22%;
  margin-right: -0.9%;
}

.cd {
  margin-left: -0.73%;
  margin-right: -0.39%;
}

.de {
  margin-left: -0.39%;
  margin-right: -0.73%;
}

.fg {
  margin-left: -0.9%;
  margin-right: -0.22%;
}

.ga {
  margin-left: -0.56%;
  margin-right: -0.56%;
}

.blackKey {
  flex: 13 1 0;
  height: 65.625%;
  z-index: 10000;

  background-color: black;
}
